@import "_variables.scss";


body{background-color: $color-background ;}

.nombre{
    font-family: 'Lora', serif;
    font-size: 35px;
}

.menu{
    list-style: none;
    background-color: $color-nav-foot;
    color:white;

}


.raptor{align-items: $aling;}


.navbar{margin-bottom: 1%;}


.infobarra{@include size (100%, 250px); }


.sectioninfo{
    background-color: $color-white;
    justify-content: $aling;
    margin-top: 50px;
}

.container-autos{margin-top: 180px;}

.redes {font-size: 2rem;
        color: $color-white;
        &:hover{color: $color-background2;}
}

footer{
    background-color: $color-nav-foot;
    color: $color-white;
    @include size (null, 350px);
    padding-bottom: 10px;
}

.auto0km{
    background-color: $color-white;
    margin-top: 47px;

    border-radius: 29px 29px 10px 10px;
    -webkit-border-radius: 29px 29px 10px 10px;
    -moz-border-radius: 29px 29px 10px 10px;

    box-shadow: 0px 3px 19px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 3px 19px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 19px 3px rgba(0,0,0,0.75);

    @include size (85%, null);
    margin-left: 7.5%;
}

.img-card{@include size(100%, null);
max-height: 716px;
}

.precio{font-weight: bold;}

.img-card-mini{@include size(98%, 934px)}

.form{
    text-align: $aling;
    background-color: #bae8e8;

}

.h1form{ font-family: 'Lora', serif; ;}

.agendar {background-color: $color-nav-foot;
        color: $color-white;
        transition: 1s;
        &:hover{
            background-color: $color-background2;
            color: white
        }
        &:active{ background-color: #144a6a !important;
                color: $color-white !important;
        }
        
}

@import "_animations.scss";